{% extends 'base.html' %}

{% load static %}

{% block title %}Recipe Book{% endblock %}
{% block content %}
    <form action="/" method="post">
        {% csrf_token %}
        <label for="recipe_name">
            <span>Recipe Name</span>
            <input type="text" id="recipe_name" name="recipe_name">
        </label>
        <label for="recipe_author">
            <span>Recipe Author</span>
            <input type="text" id="recipe_author" name="recipe_author">
        </label>
    </form>
{% endblock %}