{% extends 'base.html' %}

{% load static %}

{% block title %}Recipe Book{% endblock %}
{% block content %}
    <header>
        <h1>Recipe Book</h1>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
    </header>
    <h2>List of Recipes</h2>
    <ul>
        {% for recipe in recipes %}
            <li><a href='{{ recipe.get_absolute_url }}'>{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}