<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device.width, initial-scale=1" />
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>Recipe Book</h1>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>