{% extends 'base.html' %}

{% load static %}

{% block title %}Recipe Book{% endblock %}
{% block content %}
    <header>
        <h1>Recipe Book</h1>
    </header>
    {% for recipe in recipes %}
        <h3>{{ recipe.name }}</h3>
        {% for ingredient in recipe.ingredients %}
            <ul>
                <li>{{ ingredient.name }}, {{ ingredient.quantity }}</li>
            </ul>
        {% endfor %}
        <p><a href="{{ recipe.link }}">Link to recipe</a></p>
    {% endfor %}
{% endblock %}